<p id="notice"><%= notice %></p>

<%= form_for(@koyous) do |f| %>
  <% if @koyous.errors.any? %>
    <div id="error_explanation">
      <h2><%= @koyous.errors.count %>件のエラーがあります。</h2>
      <ul>
        <% @koyous.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :雇用区分 %>
  <%= f.text_field :koyoukubun %>
  <br>
  <%= f.submit "更新" %>
<% end %>
<%= link_to "一覧画面にもどる", koyous_path %>
