<div class="container">
  <div class="wrapper col-md-8 col-md-offset-2 col-sm-10">
<p><%= notice %></p>
<h1>組織名テーブル</h1>
<%= link_to "新規登録", new_organization_path, class: 'btn btn-default' %>
<br>
<%= form_tag import_organizations_path, multipart: true do %>
  <%= file_field_tag :file %>一括登録
  <%= submit_tag "インポート" %>
<% end %>
<br>

<div class = "table-responsive">
  <table class = "table table-hover">
    <thead>
      <tr>
        <th>組織コード</th>
        <th>組織名</th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @orgs.each do |t| %>
      <tr>
        <td><%= t.orgcode %></td>
        <td><%= t.orgname %></td>
        <td><%= link_to "編集", edit_organization_path(t.id) %></td>
        <td><%= link_to '削除', organization_path(t.id), method: :delete, data: { confirm: '本当に削除していいですか？' } %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
</div>
</div>
